.credentials-content {
    background-color: #E6D9AC;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    margin: 0;
    padding: 0;
}