.navbar {
    width: 50vw;
}

.active {
    background-color: yellow;
}
.inactive {
    background-color: bisque;
}

ul {
    background-color: bisque;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        list-style: none;
        font-weight: bold;
    }

li {
        display: flex;
        align-items: center;
        font-size: 17px;
        margin: 0;
        padding: 0;

    }


    .login-link {
        color: inherit;
        font-weight: bold;
    }