.servercard {
    border: solid 2px;
    border-radius: 15px;
    background-color: #E7E1F3;
    padding: 5px;
}

.serverlist {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*
li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 17px;
    margin: 0;
    padding: 0;
}*/