.upscard {
    border: solid 2px;
    border-radius: 15px;
    background-color: #DDEDEE;
    padding: 5px;
}
.upscard-poweroff {
     border: solid 2px;
     border-radius: 15px;
     background-color: orange;
     padding: 5px;
 }
.upscard {
      border: solid 2px;
      border-radius: 15px;
      background-color: red;
      padding: 5px;
  }
.upslist {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
